---
---
body, pre
    font-family: "Droid Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace

html
    overflow-y: scroll
body
    margin: 1rem 1.3rem
    background: #0d0e0f
    line-height: 1.2

#center-wrapper
    text-align: center
#wrapper
    text-align: left
    display: inline-block
    padding: 0 1.3rem 1.1rem
    background: #fff
    border-radius: 0.2rem
.logo
    line-height: 1
.term
    color: #666

a
    text-decoration: none

@font-face
    font-family: "Droid Sans Mono"
    src: url('../fonts/DroidSansMono-webfont.eot')
    src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSansMono-webfont.woff') format('woff'), url('../fonts/DroidSansMono-webfont.ttf') format('truetype'), url('../fonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg')
    font-weight: normal
    font-style: normal
