<pre><div class="header"><div class="logo">
                                 ▄▄▄   ▄▄▄·  ▄▄ •        ▐ ▄       
                           ▪     ▀▄ █·▐█ ▀█ ▐█ ▀ ▪▪     •█▌▐█▪     
                            ▄█▀▄ ▐▀▀▄ ▄█▀▀█ ▄█ ▀█▄ ▄█▀▄▪▐█▐▐▌ ▄█▀▄ 
                           ▐█▌.▐▌▐█•█▌▐█ ▪▐▌▐█▄▪▐█▐█▌ ▐▌██▐█▌▐█▌.▐▌
                            ▀█▄▀▪.▀  ▀ ▀  ▀ ·▀▀▀▀  ▀█▄▀ ▀▀ █▪ ▀█▄▀▪
</div><div class="nav">
              <a href="{{ site.baseurl }}/">[ home ]</a>   <a href="{{ site.baseurl }}/features.html">[ features ]</a>   <a href="{{ site.baseurl }}/downloads.html">[ downloads ]</a>   <a href="{{ site.baseurl }}/specs.html">[ specs ]</a>   <a href="{{ site.baseurl }}/contact.html">[ contact ]</a>
</div>
{% include hr.html %}
</div></pre>