<html>
    <head>
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
        {% if page.meta-description %}<meta name="description" content="{{ page.meta-description }}">{% endif %}

        <link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet">
        <link href="{{ site.baseurl }}/css/oragono.css" rel="stylesheet">
    </head>
    <body class="{{ layout.classes }} {{page.classes}}">
        <div id="center-wrapper"><div id="wrapper">
            {{ content }}
        </div></div>
    </body>
</html>